<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jihoon.market.mapper.ItemMapper">

    <insert id="insertItem" parameterType="Item">
        insert into ITEM
            (MEM_ID, ITEM_NO, TITLE, CONTENTS, PRICE, IMG_ONE, IMG_TWO, IMG_THREE,
             CREATE_DT, SOLD_OUT_YN, SOLD_OUT_DT, DEL_YN, DEL_DT)
        values
            (#{memId}, #{itemNo}, #{title}, #{contents}, #{price}, #{imgOne}, #{imgTwo}, #{imgThree},
             #{createDt}, #{soldOutYn}, #{soldOutDt}, #{delYn}, #{delDt})
    </insert>

    <update id="updateItem" parameterType="Item">
        update ITEM set
                        title = #{title},
                        contents = #{contents},
                        price = #{price},
                        IMG_ONE = #{imgOne},
                        IMG_TWO = #{imgTwo},
                        IMG_THREE = #{imgThree},
                        SOLD_OUT_YN = #{soldOutYn},
                        SOLD_OUT_DT = #{soldOutDt},
                        DEL_YN = #{delYn},
                        DEL_DT = #{delDt}
        WHERE MEM_ID=#{memId} AND ITEM_NO = #{itemNo}
    </update>

    <update id="deleteItem" parameterType="Item">
        update ITEM set
                        DEL_YN = 'Y',
                        DEL_DT = now()
        WHERE MEM_ID=#{memId} AND ITEM_NO = #{itemNo}
    </update>

    <select id="selectItemList" resultType="Item">
        select * from ITEM
    </select>
</mapper>