<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jihoon.market.mapper.ItemMapper">

    <insert id="insertItem" parameterType="Item">
        insert into ITEM
            (MEM_ID, ITEM_NO, TITLE, CONTENTS, PRICE, IMG_ONE, IMG_TWO, IMG_THREE,
             CREATE_DT, SOLD_OUT_YN, SOLD_OUT_DT, DEL_YN, DEL_DT, ITEM_TP)
        values
            (#{memId}, #{itemNo}, #{title}, #{contents}, #{price}, #{imgOne}, #{imgTwo}, #{imgThree},
             #{createDt}, #{soldOutYn}, #{soldOutDt}, #{delYn}, #{delDt}, #{itemTp})
    </insert>

    <update id="updateItem" parameterType="Item">
        update ITEM set
                        title = #{title},
                        contents = #{contents},
                        price = #{price},
                        IMG_ONE = #{imgOne},
                        IMG_TWO = #{imgTwo},
                        IMG_THREE = #{imgThree},
                        SOLD_OUT_YN = #{soldOutYn},
                        SOLD_OUT_DT = #{soldOutDt},
                        DEL_YN = #{delYn},
                        DEL_DT = #{delDt}
        WHERE MEM_ID=#{memId} AND ITEM_NO = #{itemNo}
    </update>

    <update id="deleteItem" parameterType="Item">
        update ITEM set
                        DEL_YN = 'Y',
                        DEL_DT = now()
        WHERE MEM_ID=#{memId} AND ITEM_NO = #{itemNo}
    </update>

    <select id="selectItemList" resultType="Item" parameterType="map">
        select * from ITEM where (DEL_YN = 'N' OR DEL_YN is null)
        /* (type: 0:전체, 1:판매중. 2:판매완료) 에 따른 조건 추가 */
        <choose>
            <when test="type ==1">AND SOLD_OUT_YN = 'N'</when>
            <when test="type ==2">AND SOLD_OUT_YN = 'Y'</when>
        </choose>
        /* 1.의류, 2.가전, 3.도서, 4.식품, 5.주방, 6.생활잡화 */
        <choose>
            <when test="itemTp > 0">AND ITEM_TP = #{itemTp}</when>
        </choose>
    </select>

    <select id="selectNextItemNo" resultType="long" parameterType="String">
        select ifnull(max(ITEM_NO), 0) + 1 from ITEM where MEM_ID = #{memId}
    </select>

    <select id="selectItem" resultType="Item" parameterType="map">
        select I.*, M.NIC_NM from ITEM I INNER JOIN MEMBER M on I.MEM_ID = M.MEM_ID
                 where I.MEM_ID = #{memId} and I.ITEM_NO = #{itemNo}
                    and (I.DEL_YN = 'N' OR I.DEL_YN is null)
    </select>
</mapper>
