<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jihoon.market.mapper.ItemChatMapper">

    <insert id="insertItemChat" parameterType="ItemChat">
        INSERT INTO ITEM_CHAT (MEM_ID, ITEM_NO, TO_MEM_ID, CHAT_NO, MSG, WRITER_TP, CREATE_DT)
        VALUES (#{memId}, #{itemNo}, #{toMemId}, #{chatNo}, #{msg}, #{writerTp}, NOW())
    </insert>

    <select id="selectItemChatList" resultType="ItemChat" parameterType="map">
        SELECT * FROM ITEM_CHAT
        where MEM_ID = #{memId}
          and ITEM_NO = #{itemNo}
          and TO_MEM_ID = #{toMemId}
        order by CHAT_NO
    </select>

    <select id="selectNextChatNo" parameterType="ItemChat" resultType="long">
        select ifnull(max(CHAT_NO), 0) + 1 from ITEM_CHAT
        where MEM_ID = #{memId}
          and ITEM_NO = #{itemNo}
          and TO_MEM_ID = #{toMemId}
    </select>

</mapper>