<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jihoon.market.mapper.MemberMapper">
    <insert id="insertMember" parameterType="Member">
        insert into MEMBER
            (MEM_ID, MEM_NM, NIC_NM, MEM_PW, MEM_CP, MEM_IMG)
        values
            (#{memId}, #{memNm}, #{nicNm}, #{memPw}, #{memCp}, #{memImg})

    </insert>

    <update id="updateMember" parameterType="Member">
        update MEMBER SET
                          MEM_NM=#{memNm},
                          NIC_NM=#{nicNm},
                          MEM_PW=#{memPw},
                          MEM_CP=#{memCp},
                          MEM_IMG=#{memImg}
        WHERE MEM_ID=#{memId}
    </update>

    <select id="selectMember" parameterType="String" resultType="Member">
        select * from MEMBER where MEM_ID = #{memId}
    </select>

</mapper>